<%- include('header')  %>
<body style="height:auto;">

    <section>
        <div class="col-md-12">
           <%- include('navbar')  %>
             <div class="container-fluid" style="border-radius: 3rem; margin-top: 90px;">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="image/aboutus.jpg" style="border-radius: 3rem;" class="d-block w-100 mt-3" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="image/office.png" style="border-radius: 3rem;" class="d-block w-100 mt-3" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="image/office1.png" style="border-radius: 3rem;" class="d-block w-100 mt-3" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

          <div class="mt-5" style="text-align: center;">
            
            <h1>Hello <span style="color: #35b9dd;"> Yash Software Solution</span> </h1>
            <h2>Please <span style="color: #35b9dd;"> Register Your Course</span> </h2>
            <p style="color: darkgray;">Course Registration means the official recording of a student's name to study a course or courses.</p>

          </div>
          
          <div class="container mt-5">
          <div class="row">
              <div class="col-md-4" data-aos="flip-left">
                <div class="card" style="width: 18rem; border-radius: 2rem;">
                  <img class="card-img-top" src="image/btech.png" style="width: 100%; max-height: 100%; height: 212px;" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title A">B.Tech</h5>
                  <p class="card-text A">B.Tech is a professional undergraduate engineering degree.</p>
                  <% if(btech){ %>
                    <a href="/courseDisplay" class="btn btn-primary A" >Display</a>
                 <% }else{ %>
                  <a href="/" class="btn btn-primary A" data-bs-toggle="modal" data-bs-target="#btech">Register</a>
                 <% } %>
                  
                 </div>
                 </div>
              </div>
              <div class="col-md-4" data-aos="flip-left">
                <div class="card" style="width: 18rem; border-radius: 2rem">
                  <img class="card-img-top" src="image/bca.jpg" style="width: 100%;" alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title A">BCA </h5>
                  <p class="card-text A">BCA is a three-year Bachelor's Degree in Computer Application.</p>

                   <% if(bca){ %>
                    <a href="/courseDisplay" class="btn btn-primary A" >Display</a>
                 <% }else{ %>
                  <a href="/" class="btn btn-primary A" data-bs-toggle="modal" data-bs-target="#bca">Register</a>
                 <% } %>
                 </div>
                 </div>
              </div>
              <div class="col-md-4" data-aos="flip-left">
                <div class="card" style="width: 18rem; border-radius: 2rem">
                  <img class="card-img-top" src="image/mca.jpg" style="width: 100%; max-height: 100%; height: 193px;"  alt="Card image cap">
                  <div class="card-body">
                  <h5 class="card-title A">MCA</h5>
                  <p class="card-text A" >MCA is a professional post-graduation degree in computer science.</p>
                  <% if(mca){ %>
                    <a href="/courseDisplay" class="btn btn-primary A" >Display</a>
                 <% }else{ %>
                  <a href="/" class="btn btn-primary A" data-bs-toggle="modal" data-bs-target="#mca">Register</a>
                 <% } %>
                 </div>
                </div>
                 </div>
              </div>
          </div>

          <!-- modal -->

          <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

 <!-- Btche Modal -->
<div class="modal fade" id="btech" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">B Tech</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <form action="/course_insert" method="post">
          <div class="mb-3">
            <label>Name:</label>
            <input type="text" name="name"  class="form-control" >
          </div>
          <div class="mb-3">
            <label>Email:</label>
            <input type="email" name="email"  class="form-control" >
          </div>
          <div class="mb-3">
            <label>Phone:</label>
            <input type="number" name="phone" class="form-control" >
          </div>
          <div class="mb-3">
            <label>City:</label>
            <input type="text" name="city" class="form-control" >
          </div>
          <div class="mb-3">
            <label>Address:</label>
            <input type="text" name="address" class="form-control" >
          </div>
          <div class="mb-3">
            <label>Course:</label>
            <input type="text" name="course" value="btech" class="form-control" >
          </div>
          <button class="btn btn-info" type="submit">Submit</button>
          </form>
      </div>
     
    </div>
  </div>
</div>

 <!-- BCA Modal -->
 <div class="modal fade" id="bca" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">BCA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <form action="/course_insert" method="post">
          <div class="mb-3">
            <label>Name:</label>
            <input type="text" name="name"  class="form-control" >
          </div>
          <div class="mb-3">
            <label>Email:</label>
            <input type="email" name="email"  class="form-control" >
          </div>
          <div class="mb-3">
            <label>Phone:</label>
            <input type="number" name="phone" class="form-control" >
          </div>
          <div class="mb-3">
            <label>City:</label>
            <input type="text" name="city" class="form-control" >
          </div>
          <div class="mb-3">
            <label>Address:</label>
            <input type="text" name="address" class="form-control" >
          </div>
          <div class="mb-3">
            <label>Course:</label>
            <input type="text" name="course" value="bca" class="form-control" >
          </div>
          <button class="btn btn-info" type="submit">Submit</button>
          </form>
      </div>
     
    </div>
  </div>
</div>

<!-- MCA Modal -->
<div class="modal fade" id="mca" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MCA</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <form action="/course_insert" method="post">
          <div class="mb-3">
            <label>Name:</label>
            <input type="text" name="name"  class="form-control" >
          </div>
          <div class="mb-3">
            <label>Email:</label>
            <input type="email" name="email"  class="form-control" >
          </div>
          <div class="mb-3">
            <label>Phone:</label>
            <input type="number" name="phone" class="form-control" >
          </div>
          <div class="mb-3">
            <label>City:</label>
            <input type="text" name="city" class="form-control" >
          </div>
          <div class="mb-3">
            <label>Address:</label>
            <input type="text" name="address" class="form-control" >
          </div>
          <div class="mb-3">
            <label>Course:</label>
            <input type="text" name="course" value="mca" class="form-control" >
          </div>
          <button class="btn btn-info" type="submit">Submit</button>
          </form>
      </div>
     
    </div>
  </div>
</div>
          
         <%- include('footer') %>

        </div>
    </section>
    
</body>
<%- include('script') %>
</html>