<%- include('header') %>
<body style="height:auto;">
        <section>
            <div class="col-md-12">
                <%- include('navbar') %>
                
                
                 

                    <%- include('footer') %>
            </div>
        </section>
    </body>
    <%- include('script') %>
  </html>